# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\민균\Desktop\MK_Java_Project-0637c733d7753e279c80e4244647c8b879ea55f0\MK_Java_Project-0637c733d7753e279c80e4244647c8b879ea55f0\Algorithm_Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
